

<div class="index">
    <div class="center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores assumenda consectetur consequatur dolorem doloribus excepturi fugiat harum, incidunt neque, nesciunt, nobis quidem rem saepe vel veritatis voluptatibus! At, quisquam?
        {{ name }}

        {{content | raw}}

        <div class="exception">
            {{exception | raw}}
        </div>
    </div>
</div>