.index{
    width: 100%;
    min-height: 50px;
}

.index .center{
    width: 1100px;
    min-height: inherit;
    margin: 0 auto;
}

.index .center .exception{
    width: 500px;
    min-height: inherit;
    margin: 50px auto;
    text-align: center;
}