.list{
    width: 100%;
    min-height: 100px;
}

.list .center{
    width: 1100px;
    min-height: inherit;
    margin: 0 auto;
}

.list .center ul{
    width: 50%;
    margin: 20px auto;
    list-style: none;
}

.list .center .links{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    font-size: 120%;
}

.list .center .links{
    width: 150px;
    height: 49px;
    display: block;
}