.menu{
    width: 100%;
    height: 50px;
    /*position: absolute;*/
    margin-bottom: 50px;
}

.menu .center{
    width: 500px;
    height: inherit;
    margin: 0 auto;
}

.menu .center > ul{
    width: 100%;
    height: inherit;
}
.menu .center > ul > li{
    width: 50%;
    height: inherit;
    list-style: none;
    float: left;
}
.menu .center >ul > li > a{
    width: 100%;
    height: 49px;
    display: block;
    /*background: #256dff;*/
    background: #0000a9;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.menu .center > ul > li:hover > a{
    background: #FFFFFF;
    /*color: blue;*/
    color: #0000a9;
    font-size: 18px;
    /*border: 1px solid blue;*/
    border: 1px solid #0000a9;
    transform-style: preserve-3d;
    animation: 2s anim infinite;
}